{% extends "base.njk" %}

{% block content %}
<h1 class="title" > Calendario </h1>

    <div class="mb-extra" >
        {% for menu in  menuList %}
        <div class="card mt-4 mb-4" >
            {% if menu.fecha == date %}
            <h1 style="text-align: center;"  >  Hoy </h1> 
            {% else %}
            <h1 style="text-align: center;" >{{ menu.fecha }} </h1>
            {% endif %}
            
            <div class="flex" style="justify-content: space-between;" >
                <div  >
                    <div>
                        <h2 class="subtitle" style="text-align: left;" > {{menu.comida1.name}}</h2>
                    </div>
                    <div>
                        <h2 class="subtitle" style="text-align: left;" > {{menu.comida2.name}}</h2>
                    </div>
                </div>
                <div class="stack" >
                    <button class="button secondary love" > Borrar </button>
                    <button class="button secondary blue" > Editar </button>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
{% endblock %}
    