{% extends "base.njk" %}

{% block content %}
<h1 class="title" > Calendario </h1>

    <div class="mb-extra" >
        {% for menu in  menuList %}
        <div class="card mt-4 mb-4" >
            {% if menu.fecha == date %}
            <h1 style="text-align: center;"  >  Hoy </h1> 
            {% else %}
            <h1 style="text-align: center;" >{{ menu.fecha }} </h1>
            {% endif %}
            
            <div class="flex" style="justify-content: space-between;" >
                <div  >
                    <div>
                        <h2 class="subtitle" style="text-align: left;" > {{menu.comida1.name}}</h2>
                    </div>
                    <div>
                        <h2 class="subtitle" style="text-align: left;" > {{menu.comida2.name}}</h2>
                    </div>
                </div>
                <div class="stack" >
                    <form>
                        <input class="button secondary love" value="Borrar" formaction="/calendar/delete/{{menu.id}}" formmethod="GET" type="submit" >  
                    </form>
                    <button class="button secondary blue" > Editar </button>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>

    {% if error %}

   <div style="display: flex; align-items: center; " > 
    
    <h1>
    {{error}} 
        </h1>
            <a href="/calendar/create-menu" >
                <span class="material-icons" style="vertical-align: middle; color: cornflowerblue;" >&#xe895;</span>
            </a>
        </div>
    {% endif %}
{% endblock %}
    