{% extends "base.njk" %}

{% block title %}
<h1 class="title"> Crear nuevo pedido </h1>
{% endblock %}

{% block content %}

<form>
    <label > Nombre del cliente</label>
    <input type="text" placeholder="Nombre del Cliente" />

    <label > Ubicacion  </label>
    <input type="text" placeholder="Nombre del Cliente" />
    
    <label > Nombre del cliente</label>
    <input type="text" placeholder="Nombre del Cliente" />
    
    <input type="submit" class="button blue mt-4 title" value="Crear Pedido" />
</form>

<h1 class="title" > Total: </h1>

{% endblock %}
