
{% extends 'base.njk' %}

{% block page %} Menu {% endblock %}

{% block title %} Menu {% endblock %}

{% block content %}
        <form method="POST"  >
            <h2> Anadir comida al menu  </h2>
            <input class="mt-2" name="name" placeholder="Nombre (Obligatorio)" value="{%block foodName%}{% endblock %}" required />
            <input class="mt-2" name="description" placeholder="Descripcion (Opcional) " value="{% block foodDescription %}{% endblock %}" />
            <input class="mt-2" name="link" placeholder="Link (Opcional) " value="{% block foodLink %}{% endblock %}" />

            <input class="mt-2 green" type="submit" value="Enviar" formaction="{% block submitEdit %}/food/create{% endblock %}" />
        </form>

{% endblock %}