{% extends "base.njk" %}

{% block title %}
<h1 class="title"> Crear nuevo pedido </h1>
{% endblock %}

{% block content %}

    <form method="POST" >
        <label > <h1> Nombre del cliente </h1> </label>
        <input type="text" placeholder="Nombre del Cliente" name="customerName" />

        <label > Ubicacion  </label>
        <input type="text" placeholder="Nombre del Cliente" name="customerLocation" />

        <div style="text-align: center;" >
            <div>
                <label   > <h2> {{ comida1.name }} </h2> </label>
                <input type="number" placeholder="cantidad" style="width: 40%" name="comida1Quantity"  />
            </div>
            <div>
                <label  > <h2> {{ comida2.name }} </h2> </label>
                <input type="number" placeholder="cantidad" style="width: 40% ;" name="comida2Quantity" />
            </div>
            <input type="submit" class="button blue mt-4 title" formaction="/" value="Crear Pedido"  />
        </div>
    </form>
    <h1 class="title" > Total: </h1>

    {% if comida1 %}

    {% else %}

    <div class="card love " style="display: block; align-items: center; font-size: 16px; vertical-align: middle;"  >
        
        <span class="material-icons" style="font-size: 18px; vertical-align: middle;" >&#xe000;</span>

            {{ error }} 
            <a href="/calendar/create-menu" >
                <span class="material-icons" style="font-size: 18px; vertical-align: middle; color: cornflowerblue;" >&#xe895;</span>
            </a>
    </div>

    {% endif %}

{% endblock %}

<script>

    //Por hacer:
    //Lista automatica de clientes con datalist 
</script>