{% extends "base.njk" %}


{% block title %}
<h1 class="title"> Crear Menu del Dia </h1>
{% endblock %}

{% block content %}

<form autocomplete="off" method="POST"   >
    
    <label > Comida 1  </label>
    <input type="text" name="comida1" placeholder="Nombre del platillo" autocomplete="off" list="menudata" />

    <label > Comida 2</label>
    <input type="text" name="comida2" placeholder="Nombre del platillo" autocomplete="off" list="menudata"  />
 
    <label > Fecha </label>
    <input type="date" name="date"    />
    
    <input type="submit" class="button blue mt-4 title" value="Crear Menu" formaction="/today" />
</form>

<h1 class="title" > Total: </h1>

<datalist id="menudata" >
    {% for food in menu %}
        <option> {{ food.name }} </option>
    {% endfor %}
</datalist>

{% endblock %}
