{% extends "base.njk" %}


{% block title %}
<h1 class="title"> Crear Menu del Dia </h1>
{% endblock %}

{% block content %}

<form autocomplete="off" method="POST"   >
    
    <label > Elige un platillo.  </label>
    <input type="text" name="comida1" placeholder="Nombre del platillo" autocomplete="off" list="menudata" />

    <label > Elige un platillo mas.</label>
    <input type="text" name="comida2" placeholder="Nombre del platillo" autocomplete="off" list="menudata"  />
 
    <label > En que fecha estara disponible este menu? </label>
    <input type="date" name="date"    />
    
    <input type="submit" class="button blue mt-4 title" value="Crear Menu" formaction="/create-menu" />
</form>
 
    <div class="card love mt-4" style="display: block; align-items: center; font-size: 16px; vertical-align: middle;"  >
        
        <span class="material-icons" style="font-size: 18px; vertical-align: middle;" >&#xe000;</span>

            {{ error }} 
            <a href="/food" >
                <span class="material-icons" style="font-size: 18px; vertical-align: middle; color: cornflowerblue;" >&#xe895;</span>
            </a>
    </div>

<datalist id="menudata" >
    {% for food in menu %}
        <option> {{ food.name }} </option>
    {% endfor %}
</datalist>

{% endblock %}
