{% extends "base.njk" %}
{% block title %} Menu {% endblock %}
{% block content %}
    <div class="mb-extra" >
        {% for food in  menu %}
        <div class="card mt-4 mb-4 " >
            <div class="flex-resizable " >
                <h1 class="">  {{ food.name }}   </h1>
            </div>
            <p> {{ food.description }} </p>
            <a href="{{ food.link }}" target="_blank" rel="noopener noreferrer" > {{ food.link }} </a>
            <div class="flex mt-2" >
                <form method="GET" class="mx-1" >
                    <input type="submit" formaction="/food/edit/{{food.id}}" class="blue secondary" value="Editar">
                </form>
                <form method="GET" class="mx-1" >
                    <input type="submit" formaction="/food/delete/{{food.id}}" class="love secondary" value="Borrar">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <div style="display: flex; align-items: center; " > 
    
    <h1>
    {{error}} 
    </h1>
    
        <a href="/food" >
            <span class="material-icons" style="vertical-align: middle; color: cornflowerblue;" >&#xe895;</span>
        </a>
     
    </div>

{% endblock %}
    

<!--





-->