<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<%- include('./styles.html') %>

<body>
    <div class="container" >
        <h1> Comidas </h1>
        <form method="POST"  >
            <h2>Anadir comida al menu</h2>
            <input class="mt-2" name="name" placeholder="Nombre (Obligatorio)" required />
            <input class="mt-2" name="description" placeholder="Descripcion (Opcional) " />
            <input class="mt-2" name="link" placeholder="Link (Opcional) " />

            <input class="mt-2 green" type="submit" value="Enviar" formaction="/create" />
        </form>

        <% menu.forEach(function(food){ %> 
            <div class="card mt-4" >
                <div class="flex" >
                    <h2>  <%= food.name %> </h2>
                    <form method="GET" >
                        <input type="submit" formaction="/delete/<%=food.id%>" class="love" value="Borrar">
                    </form>
                </div>
                <p> <%= food.description %> </p>
                <a href="<%= food.link %>" > <%= food.link %> </a>
            </div>
        <% }) %>

    </div>
</body>
</html>