{% extends "base.njk" %}

{% block title %} Pedidos {% endblock %}

{% block content %}

<div class="flex" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;  justify-items: center;" >

    <h1 class="list-heading">Cliente</h1>
    <h1 class="list-heading">Lugar</h1>
    <h1 class="list-heading">Entregado</h1>
    <h1 class="list-heading">Pagado</h1>
    <h1 class="list-heading">Total</h1>
</div>

{% for pedido in pedidos %}
        <a href="/pedidos/details/{{pedido.id}}" >
            <div class="love  mt-4 card {{  "green" if pedido.paid else "love"  }} " style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;  justify-items: center;  "  >
                    <div class="list-text  " > {{ pedido.customer}} </div>
                    <div class="list-text  " > {{ pedido.location}} </div>
                    <div class="list-text  " > {{ "Listo" if pedido.delivered else "Pendiente..." }} </div>
                    <div class="list-text  " > {{ "Listo" if pedido.paid else "Pendiente..." }} </div>
                    <div class="list-text  " > $ {{ 25.55}} </div>
            </div>
        </a>

{% endfor %}


{% endblock %}