<nav class="nav" > 
    <a href="/" class="mt-4 mb-4" > 
        <p> Inicio </p> 
    </a>
    <a href="/food" >
        <p> Nueva Comida  </p>
    </a>
    <a href="/create-menu" >
        <p> Menu de Hoy  </p>
    </a>

    <a href="/food/list" >
        <p>Menu Lista</p>
    </a>

    <a href="/calendar" > 
        <p>Calendario</p>
    </a>


    <a href="/pedidos" > 
        <p>Pedidos</p>
    </a>

</nav>
