<nav class="lateral-nav" > 
    <a href="/" class="mt-4 mb-4" > 
        <span class="material-icons" >&#xe88a;</span>
        <p> Inicio </p> 
    </a>
    <a href="/food" >
    <span class="material-icons">&#xea20;</span>

        <p> Nueva <br/> Comida  </p>
    </a>
    <a href="/create-menu" >
    <span class="material-icons">&#xe561;</span>
        <p> Menu de Hoy  </p>
    </a>

    <a href="/food/list" >
        <span class="material-icons">&#xe0ee;</span>
        <p>Menu </p>
    </a>

    <a href="/calendar" > 
        <span class="material-icons">&#xe8df;</span>
        <p>Calendario</p>
    </a>

    <a href="/pedidos" > 
        <span class="material-icons">&#xef6e;</span>
        <p>Pedidos</p>
    </a>

</nav>
