<nav class="nav" > 
    <a href="/" class="mt-2 mb-2" > 
        <p> Inicio </p> 
    </a>
    <a href="/food" >
        <p> Nueva Comida  </p>
    </a>
    <a href="/today" >
        <p> Menu de Hoy  </p>
    </a>
</nav>
