{% extends 'base.njk' %}

{% block title %} Detalles {% endblock %}

{% block content %}

    {% block pedidoCustomerName %} 
        <h1> {{ pedido.customer }}</h1>
    {% endblock %}

    {% block pedidoLocation %}
        <h2> {{ pedido.location }}</h1>
    {% endblock %}
        <div class="pedido mt-2 " >
        
            <h2 class="mt-2" > 
                {{ pedido.food[0].name }} : {% block comida1Quantity %} {{ pedido.food[0].pedidoItems.quantity }} {% endblock %}
            </h2>
        
            <h2 class="mt-2" >
                {{ pedido.food[1].name }} : {% block comida2Quantity %} {{ pedido.food[1].pedidoItems.quantity }} {% endblock %}
            </h2>
        </div>

    {% if pedido.paid %}
    Pagado
    {% else %}
    No pagado
    {% endif %}
      <p>Numero de pedido:{{ pedido.id }}</p>
    <h1> {{ pedido.total}} </h1> 


    <div>
            {% block updateButton %}
                <a href="/pedidos/edit/{{pedido.id}}"  >
                    <button class="blue button" >
                      Editar
                    </button>
                </a>
            {% endblock %}
        <form method="GET" action="" >
            <button class="love button" formaction="/pedidos/delete/{{pedido.id}}" >  Borrar </button>
        </form>

    </div>




{% endblock %}
