{% extends "pedido-create.njk" %}

{% block title %} Editar {% endblock %}


{% block pedidoCustomerName %} 
    value="{{pedido.customer}}"
{% endblock %} 

{% block pedidoLocation %}
     value="{{pedido.location}}" 
{% endblock %}


{% block comida1Quantity %} 

     value="{{ pedido.food[0].pedidoItems.quantity }}" 

{% endblock %}

{% block comida2Quantity %}
    
     value="{{ pedido.food[1].pedidoItems.quantity }}" 
    
{% endblock %}

{% block updateButton %}
   <input type="submit" class="button green title mt-4" formaction="/pedidos/update/{{pedido.id}}"  value="Actualizar" /> 
{% endblock %}

{% block actionButton %} Guardar {% endblock %} 


