@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');


/*  font-family: 'Open Sans', sans-serif; */
:root{
    --blue: rgb(100, 149, 237);
    --blue-shadow: rgba(100, 149, 273, 0.5);
  
    --love: rgb(224, 36, 94);
    --love-shadow: rgba(224, 36, 94, 0.5);
  
    --green: #48c78e;
    --green-shadow: rgba(72, 199, 142, 0.8);
  
    --yellow: rgb(255, 187, 0);
    --yellow-shadow: rgb(255, 187, 0)
  }

  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  *{
    font-family: 'Poppins', sans-serif;
  }

  a {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 10px;
  }

  .background{
    background-image: url("/images/2.png ");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 40px;
  }

  .title{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
  .subtitle{
    font-size: 22px;
    color: gray;
    font-weight: 600;
    text-align: center;
  }
  .text {
    font-weight: 100;
    font-size: 18;
  }
  
  .nav-link-text{
      display: none;
  }

  .nav{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 25px -13px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
  }

  .flex{
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  button { 
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 6px 0.5px rgba(0, 0, 0, 0.1);
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  button.squared{
    border-radius: 0px;
  }
  
  button.soft{
    border-radius: 6px;
  }
  
  button:active{
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.07);
  }
  
  button, input, select {
    border-radius: 30px;
    font-size: 18px;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: 0.2s;
  }
  input{
    border: 2px solid black ;
    width: 100%;
  }
  .img{
    width: 100%;
    height: auto;
  }
  .secondary{
    border: 2px solid black;
    background-color: white;
  }
  .blue{
    color: white;
    border: 0px;
    background-color: cornflowerblue  ;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow:  0 0 6px 2px var(--blue-shadow);
  }
  .blue:hover{
  background-color: rgb(120, 161, 236);
  }
  .blue:active{
    box-shadow:  0 0 5px 2px var(--blue-shadow);
    background-color: rgb(107, 159, 255);
  }
  .blue.secondary{
    color: cornflowerblue;
    background-color: white;
    border: 2px solid cornflowerblue;
    box-shadow:  0 0 0px rgba(0, 0, 0, 0.15);
    transition: 0.1s;
  }
  .blue.secondary:active{
    background-color: rgba(100, 148, 237, 0.123);
  }
  .blue.secondary:hover{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .love{
    border: 0px;
    color: white;
    background-color: rgb(224, 36, 94);
    box-shadow:  0 0 6px 0.5px var(--love-shadow);
  }
  .love:active{
    box-shadow: 0 0 5px 1px var(--love-shadow);
  }
  .love:hover{
    background-color: rgba(224, 36, 94, 0.8);
  }
  .love.secondary{
    color: rgb(224, 36, 94);
    background-color: white;
    border: 2px solid rgb(224, 36, 94);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
  .love.secondary:active{
    background-color: rgba(224, 36, 94, 0.045);
  }
  .love.secondary:hover{
    box-shadow: inset 0 0 10px rgba(224, 36, 94, 0.15);
  
  }
  .green{
    border: 0px;
    color: white;
    background-color: #48c78e;
    box-shadow:  0 0 6px 0.5px var(--green);
  
  }
  .green:active{
    box-shadow:  0 0 5px 2px var(--green-shadow);
  }
  .green:hover{
    background-color: rgba(72, 199, 142, 0.9);
  }
  .green.secondary{
    color: #48c78e;
    background-color: white;
    border: 2px solid #48c78e;
    box-shadow: 0 0 0 0;
  }
  .green.secondary:active{
    background-color: rgba(72, 199, 142, 0.15);
  }
  .green.secondary:hover{
    box-shadow: inset 0 0 10px rgba(72, 199, 142, 0.3);
  }
  .yellow{
    border: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    background-color: #ffbb00;
    box-shadow:  0 0 6px 0.5px var(--yellow-shadow);
  }
  
  .yellow:active{
    box-shadow:  0 0 5px 2px var(--yellow-shadow);
  }
  
  .yellow:hover{
    background-color: rgba(255, 187, 0, 0.8);
  }
  
  .yellow.secondary{
    color: #ffbb00;
    background-color: white;
    border: 2px solid #ffbb00;
    box-shadow: none;
  }
  
  .yellow.secondary:active{
    background-color: rgba(255, 187, 0, 0.15);
  }
  
  .yellow.secondary:hover{
    box-shadow: inset 0 0 10px rgba(255, 187, 0, 0.7);
  }
  .card {
    padding: 8px;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.26); 
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.26);
    border-radius: 8px;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .elevated {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.26); 
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.26);
  }
  .centered{
    display: flex;
    justify-content: space-evenly;
  }

  .centered.close{
    justify-content: center;
  }

  /* MARGINS AND PADDING*/
  
  .mt-1{
    margin-top: 4px;
  }
  
  .mt-2{
    margin-top: 8px;
  }
  
  .mt-3{
    margin-top: 12px;
  }
  
  .mt-4{
    margin-top: 16px;
  }
  
  
  .mb-1{
    margin-bottom: 4px;
  }
  
  .mb-2{
    margin-bottom: 8px;
  }
  
  .mb-3{
    margin-bottom: 12px;
  }
  
  .mb-4{
    margin-bottom: 16px;
  }
  .mb-5{
      margin-bottom: 20px;
  }
  .mb-6{
      margin-bottom: 24px;
  }

  .mb-extra{
      margin-bottom: 72px;
  }

  .mx-1{
      margin-left: 4px;
      margin-right: 4px;

  }
  
  /*  GRID AND LAYOUT */
  .container{
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    right: 0;
  }

  .flex-resizable{
      display: block;
  }

  .stack {
      display: grid;
  }

  .lateral-nav {
      background-color: lightblue;
      overflow-wrap: break-word;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      height: 100vh;
  }

  .list-heading{
      font-size: 12px;
      writing-mode: vertical-rl;
    }
    
    .food-heading{
      line-height: 12px;

  }

  .list-text{
      font-size: 8px;
  }

  /* X-Small devices (portrait phones, less than 576px)
  // No media query for `xs` since this is the default in Bootstrap*/
  @media (min-width: 320px){
    .container{
      padding-left: 15px;
      padding-right: 15px;
    }

    .title{
      font-size: 32px;
    }
    
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) { 
    .title{
      font-size: 30px;
    }
    .container{
      max-width: 540px;
    }
    .stack {
        display: block;
    }
    
    .nav-link-text{
        display: block;
    }

    .material-icons{
        font-size: 42px !important ;
    }

   }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) { 
    .container{
      max-width: 720px;
    }
    

    .title{
      font-size: 42px;
    }

    .list-text{
        font-size: 12px;
    }

    .list-heading{
        writing-mode: horizontal-tb;
    }

    .card{
        padding: 16px;
        border-radius: 16px;
    }

   }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) { 
    .container{
      max-width: 960px;
    }
    .title{
      font-size: 60px;
    }
    .flex-resizable{
        display: flex;
        justify-content: space-between;
    }
    .list-text{
        font-size: 14px;
    }
    .food-heading.list-heading{
        font-size: 16px;
        line-height: normal;
    }
    .list-heading{
        font-size: 24px;
    }
   }
  @media (min-width: 1200px) { 
    .container{
      max-width: 1140px;
    }
    .title{
      font-size: 68px;
    }
    .list-text{
        font-size: 14px;
    }
   }
  
  /*XX-Large devices (larger desktops, 1400px and up)*/
  @media (min-width: 1400px) {
    .title{
      font-size: 72px;
      font-weight: 700;
    }
    .subtitle{
      font-size: 46px;
    }
    .text{
      font-size: 24px;
    }
    .container{
      max-width: 1320px;
      margin-left: auto;
      margin-right: auto;
    }
   }
